.discover {
	padding: 35px 10px 0;
	text-align: center;
}

.discover__header {
	margin-bottom: 15px;
}

.discover__items {
	display: grid;
	grid-gap: 10px;
}

.discover__item {
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 3px;
	width: 100%;
	height: 120px;

	h2 {
		color: #fff;
		padding: 10px;
	}

	&:nth-child(1) {background: #aaa url(../img/1.jpg) no-repeat center center; background-size: cover;}
	&:nth-child(2) {background: #aaa url(../img/2.jpg) no-repeat center 40%; background-size: cover;}
	&:nth-child(3) {background: #aaa url(../img/3.jpg) no-repeat center 20%; background-size: cover;}
	&:nth-child(4) {background: #aaa url(../img/4.jpg) no-repeat center center; background-size: cover;}
	&:nth-child(5) {background: #aaa url(../img/5.jpg) no-repeat center top; background-size: cover;}
	&:nth-child(6) {background: #aaa url(../img/6.jpg) no-repeat center center; background-size: cover;}
	&:nth-child(7) {background: #aaa url(../img/7.jpg) no-repeat center center; background-size: cover;}
}

@media @t-width {
	.discover {
		padding: 96px 10px 0;
	}

	.discover__header {
		margin-bottom: 35px;
	}

	.discover__items {
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.discover__item {
		cursor: pointer;
		height: 310px;

		&:nth-child(5){
			grid-column-start: 2;
			grid-column-end: 4;
		}

		&:nth-child(6){
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}

@media @d-width {
	.discover {
		.container-fluid();
	}
}